body {
    h1{
        color:rgb(39, 30, 30);
        text-align:center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 60px;
        background-color: rgba(1, 184, 200);
    }
    h2{
        color: brown;
    }
}