body{
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-image: url(https://static.vecteezy.com/system/resources/previews/011/263/042/non_2x/abstract-background-of-futuristic-digital-dark-blue-electronic-circuit-line-vector.jpg)
}

 .volver{
    position:fixed;
    background: purple;
    border-radius: 15px;
    margin-right: 132   0px;
    text-align: left;
}

.volver:hover{
    box-shadow:0 0px 30px purple;
}

.titulo {
        color:rgb(39, 30, 30);
        text-align:center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 60px;
        background-color: rgba(1, 184, 200);
        padding-top: 50px;
        padding-bottom: 50px;
        font-weight: 700;
        border-radius: 20px;
        margin: 10px;
        text-decoration: underline;
}

.subtitulo{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    margin-top: 15px    ;
    background-color: rgba(1, 184, 200);
    text-align: center;
    font-size: 25px;
    font-weight:900;
}

.imagen{
    margin-top: 20px;
    text-align: center;
}