body{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-futurista-degradado-geometrico_23-2149116406.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    text-align: center;
}

body{
    cursor: url(opapm-cursor.png), auto;
}
a:hover{
    cursor: url(opapm-pointer.png), auto;
}

.volver{
    background: rgb(107, 0, 107);
    border-radius: 15px;
    padding-left: 15px;
    margin-right: 1420px;
    text-align: left;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(1, 184, 200);
    text-decoration: underline;
    background-color: purple;
    border-radius: 100px;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 400px;
    margin-right: 400px;
}
.cuerpo{
    color: rgba(1, 184, 200);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.enviar{
        background-color: purple; 
        border-radius: 100px;
        color: rgb(0, 0, 0);              
        padding: 20px 30px;               
        font-size: 16px;
        margin-top: 50px;
        margin-left: 600px;
        margin-right: 600px;
        margin-bottom: 80px;
        box-shadow: 0 1px 40px aqua;
        cursor: pointer;
}