body{
    background-image: url(san-easteregg.png);
    text-align: center;
}

body{
    cursor: url(opapm-cursor.png), auto;
}
a:hover{
    cursor: url(opapm-pointer.png), auto;
}

.volver{
    position:fixed;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    margin-right: 1360px;
    text-align: left;
    z-index: top;;
}

.volver:hover{
    box-shadow:0 0px 30px purple;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 400px;
    margin-right: 400px;
}
.san-mac{
    margin-top: 790px;
    font-size: 200px;
    color: transparent;
}
